version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "08:00"
      timezone: "Etc/UTC"
    versioning-strategy: increase
    open-pull-requests-limit: 10
    rebase-strategy: auto
    labels:
      - dependencies
    commit-message:
      prefix: chore
      include: scope
    groups:
      prod-dependencies:
        dependency-type: production
        update-types:
          - minor
          - patch
      dev-dependencies:
        dependency-type: development
        update-types:
          - minor
          - patch
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "08:00"
      timezone: "Etc/UTC"
    labels:
      - dependencies
    commit-message:
      prefix: chore
      include: scope


